"I  certify that the code and data in this assignment were generated independently, using only the tools and resources defined in the course and that I  did not receive any external help, coaching or contributions during the production of this work."

~Mohd Anas Qureshi

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('./penguins_size.csv')
print(df.head(5))

  species     island  culmen_length_mm  culmen_depth_mm  flipper_length_mm  \
0  Adelie  Torgersen              39.1             18.7              181.0
1  Adelie  Torgersen              39.5             17.4              186.0
2  Adelie  Torgersen              40.3             18.0              195.0
3  Adelie  Torgersen               NaN              NaN                NaN
4  Adelie  Torgersen              36.7             19.3              193.0

   body_mass_g     sex
0       3750.0    MALE
1       3800.0  FEMALE
2       3250.0  FEMALE
3          NaN     NaN
4       3450.0  FEMALE

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [ ]:
df['island'].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [ ]:
df['species'].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [ ]:
df.describe()

       culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
count        342.000000       342.000000         342.000000   342.000000
mean          43.921930        17.151170         200.915205  4201.754386
std            5.459584         1.974793          14.061714   801.954536
min           32.100000        13.100000         172.000000  2700.000000
25%           39.225000        15.600000         190.000000  3550.000000
50%           44.450000        17.300000         197.000000  4050.000000
75%           48.500000        18.700000         213.000000  4750.000000
max           59.600000        21.500000         231.000000  6300.000000

In [ ]:
df.dropna(axis=0,inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 334 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            334 non-null    object
 1   island             334 non-null    object
 2   culmen_length_mm   334 non-null    float64
 3   culmen_depth_mm    334 non-null    float64
 4   flipper_length_mm  334 non-null    float64
 5   body_mass_g        334 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 20.9+ KB

In [ ]:
df['island'] = df['island'].astype('category')
df['species'] = df['species'].astype('category')
df['sex'] = df['sex'].astype('category')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 334 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            334 non-null    category
 1   island             334 non-null    category
 2   culmen_length_mm   334 non-null    float64
 3   culmen_depth_mm    334 non-null    float64
 4   flipper_length_mm  334 non-null    float64
 5   body_mass_g        334 non-null    float64
 6   sex                334 non-null    category
dtypes: category(3), float64(4)
memory usage: 14.4 KB

In [ ]:
df['sex'].unique()

['MALE', 'FEMALE', '.']
Categories (3, object): ['.', 'FEMALE', 'MALE']

In [ ]:
df[df['sex']=='.']

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,.

In [ ]:
df = df[df['sex']!='.']

In [ ]:
df = pd.get_dummies(df,columns=['island'])

In [ ]:
df.head()

,species,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex,island_Biscoe,island_Dream,island_Torgersen
0,Adelie,39.1,18.7,181.0,3750.0,MALE,0,0,1
1,Adelie,39.5,17.4,186.0,3800.0,FEMALE,0,0,1
2,Adelie,40.3,18.0,195.0,3250.0,FEMALE,0,0,1
4,Adelie,36.7,19.3,193.0,3450.0,FEMALE,0,0,1
5,Adelie,39.3,20.6,190.0,3650.0,MALE,0,0,1

In [ ]:
df['species_cat'] = df['species'].cat.codes
df['sex_cat'] = df['sex'].cat.codes

In [ ]:
df.head()

,species,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex,island_Biscoe,island_Dream,island_Torgersen,species_cat,sex_cat
0,Adelie,39.1,18.7,181.0,3750.0,MALE,0,0,1,0,2
1,Adelie,39.5,17.4,186.0,3800.0,FEMALE,0,0,1,0,1
2,Adelie,40.3,18.0,195.0,3250.0,FEMALE,0,0,1,0,1
4,Adelie,36.7,19.3,193.0,3450.0,FEMALE,0,0,1,0,1
5,Adelie,39.3,20.6,190.0,3650.0,MALE,0,0,1,0,2

In [ ]:
df.drop(columns=['species','sex'],inplace=True)

In [ ]:
max_body_mass = df['body_mass_g'].max()
min_body_mass = df['body_mass_g'].min()
diff_mass = max_body_mass - min_body_mass
print(diff_mass)

3600.0

In [ ]:
df['body_mass_norm'] = df['body_mass_g'].apply(lambda x: (x-min_body_mass)/diff_mass)

In [ ]:
df['body_mass_norm'].head()

0    0.291667
1    0.305556
2    0.152778
4    0.208333
5    0.263889
Name: body_mass_norm, dtype: float64

In [ ]:
max_culmen_length = df['culmen_length_mm'].max()
min_culmen_length = df['culmen_length_mm'].min()
diff_cul_length = max_culmen_length  - min_culmen_length
print(diff_cul_length)

27.5

In [ ]:
df['culmen_length_norm'] = df['culmen_length_mm'].apply(lambda x: (x-min_culmen_length)/diff_cul_length)
print(df['culmen_length_norm'])

0      0.254545
1      0.269091
2      0.298182
4      0.167273
5      0.261818
         ...
338    0.549091
340    0.534545
341    0.665455
342    0.476364
343    0.647273
Name: culmen_length_norm, Length: 333, dtype: float64

In [ ]:
max_culmen_depth = df['culmen_depth_mm'].max()
min_culmen_depth = df['culmen_depth_mm'].min()
diff_cul_depth = max_culmen_depth - min_culmen_depth
print(diff_cul_depth)

8.4

In [ ]:
df['culmen_depth_norm'] = df['culmen_depth_mm'].apply(lambda x: (x-min_culmen_depth)/diff_cul_depth)
print(df['culmen_depth_norm'].head())

0    0.666667
1    0.511905
2    0.583333
4    0.738095
5    0.892857
Name: culmen_depth_norm, dtype: float64

In [ ]:
max_flipper_length = df['flipper_length_mm'].max()
min_flipper_length = df['flipper_length_mm'].min()
diff_flip_length = max_flipper_length  - min_flipper_length
print(diff_flip_length)

59.0

In [ ]:
df['flipper_length_norm'] = df['flipper_length_mm'].apply(lambda x: (x-min_flipper_length)/diff_flip_length)
print(df['flipper_length_norm'].head())

0    0.152542
1    0.237288
2    0.389831
4    0.355932
5    0.305085
Name: flipper_length_norm, dtype: float64

In [ ]:
df.head()

,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,island_Biscoe,island_Dream,island_Torgersen,species_cat,sex_cat,body_mass_norm,culmen_length_norm,culmen_depth_norm,flipper_length_norm
0,39.1,18.7,181.0,3750.0,0,0,1,0,2,0.291667,0.254545,0.666667,0.152542
1,39.5,17.4,186.0,3800.0,0,0,1,0,1,0.305556,0.269091,0.511905,0.237288
2,40.3,18.0,195.0,3250.0,0,0,1,0,1,0.152778,0.298182,0.583333,0.389831
4,36.7,19.3,193.0,3450.0,0,0,1,0,1,0.208333,0.167273,0.738095,0.355932
5,39.3,20.6,190.0,3650.0,0,0,1,0,2,0.263889,0.261818,0.892857,0.305085

In [ ]:
df.drop(columns=['culmen_length_mm','culmen_depth_mm','flipper_length_mm'],inplace=True)

In [ ]:
df.drop(columns='body_mass_g',inplace=True)

In [ ]:
df.head()

,island_Biscoe,island_Dream,island_Torgersen,species_cat,sex_cat,body_mass_norm,culmen_length_norm,culmen_depth_norm,flipper_length_norm
0,0,0,1,0,2,0.291667,0.254545,0.666667,0.152542
1,0,0,1,0,1,0.305556,0.269091,0.511905,0.237288
2,0,0,1,0,1,0.152778,0.298182,0.583333,0.389831
4,0,0,1,0,1,0.208333,0.167273,0.738095,0.355932
5,0,0,1,0,2,0.263889,0.261818,0.892857,0.305085

In [ ]:
train_data = df.sample(frac=0.8,random_state=30)
test_data = df.drop(train_data.index)

In [ ]:
train_data.shape

(266, 9)

In [ ]:
test_data.shape

(67, 9)

In [ ]:
X_train = np.array(train_data[['species_cat','sex_cat','body_mass_norm','culmen_length_norm','culmen_depth_norm','flipper_length_norm']])

In [ ]:
X_train.shape

(266, 6)

In [ ]:
y_train = np.array(train_data[['island_Biscoe','island_Dream' ,'island_Torgersen']])

In [ ]:
y_train.shape

(266, 3)

In [ ]:
print(y_train[0])

[1 0 0]

In [ ]:
r = y_train.reshape(-1,1)
print(r.shape)

(798, 1)

In [ ]:
X_test = np.array(test_data[['species_cat','sex_cat','body_mass_norm','culmen_length_norm','culmen_depth_norm','flipper_length_norm']])

In [ ]:
X_test.shape

(67, 6)

In [ ]:
y_test = np.array(test_data[['island_Biscoe','island_Dream' ,'island_Torgersen']])

In [ ]:
y_test.shape

(67, 3)

In [ ]:
print(y_test[3])

[1 0 0]

In [ ]:
class LogisticRegression():
  def __init__(self,learning_rate=0.004,iterations=30000):
    self.learning_rate = learning_rate
    self.iterations = iterations
    self.weights = None
    self.bias_weight = None

  def fit(self,x,y):
    m,n = x.shape
    loss = []
    c = y.shape[1]
    self.weights = np.random.random((n,c))

    for i in range(self.iterations):
      w = self.gradient_descent(x,y)
      l = self.cost(x,y)
      loss.append(l)

    return w


  def softmax(self,z):
    sft = np.exp(z)
    for i in range(len(z)):
      sft[i]/=np.sum(sft[i])
    return sft

  def cost(self,x,y):
    z = np.dot(x,self.weights)
    h = self.softmax(z)
    n = x.shape[0]
    j = (1/n)*((-y*np.log(h))-(1-y)*np.log(1-h))
    return j

  def gradient_descent(self,x,y):
    z = np.dot(x,self.weights)
    y_pred = self.softmax(z)
    n = x.shape[0]
    dw = (1/n)*np.dot(x.T,(y_pred-y))
    self.weights = self.weights - self.learning_rate*dw
    return self.weights


  def predict(self,x,w):
    z = np.dot(x,w)
    p = self.softmax(z)
    return p

  def accuracy(self,p,y):
    tr = 0
    tl = 0
    for i in range(len(y)):
      act = np.argmax(y[i])
      pred = np.argmax(p[i])
      if act==pred:
        tr +=1
      tl+=1
    acc = tr/tl
    return acc





 
model = LogisticRegression()
x = X_train
y = y_train
w = model.fit(x,y)
t = X_test
predicted = model.predict(t,w)
res = model.accuracy(predicted,y_test)
print(res)

0.6865671641791045

Accuracy : 0.6865671641791045 (68%)